* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-container {
  display: flex;
}

.user-svg,
.bell-svg,
.envelope-svg,
.heart-svg {
  width: 30px;
  size: 30px;
  filter: opacity(25%);
  cursor: pointer;
}

.bell-svg,
.envelope-svg,
.heart-svg {
  margin-right: 20px;
}

.user-svg {
  width: 35px;
  margin: 0 10px 0 15px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* general settings */

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  cursor: pointer;
}

/* general CTA                 button settings  */

.create-offer,
.hero-card button {
  border: 1px solid #09b1ba;
  background-color: #09b1ba;
  color: white;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 60%;
  margin: 0 auto;
}

/* create a primary nav, flex it so we have our left and right part */

.primary-nav {
  display: flex;
  align-items: center;
  height: 60px;
}

.header-logo {
  width: 80px;
  margin-right: 40px;
  cursor: pointer;
}

.primary-nav,
.secondary-nav {
  width: 100%;
  border-bottom: 1px solid #dadada;
}

.secondary-nav ul {
  display: flex;
}

.secondary-nav ul li {
  padding: 10px 5px;
  font-size: 0.9rem;
  color: gray;
}
.secondary-nav ul li:hover {
  background-color: rgba(248, 248, 248, 0.603);
}

/* flex on the left-nav container so we can center the input */

.left-nav {
  display: flex;
  align-items: center;
}

.searchbar {
  border: none;
  border-radius: 2px;
  background: url(./assets/img/magnifying-glass.png) no-repeat 9px 4px #d6d6d642;
  font-size: 1.2rem;
  background-size: 25px;
  padding: 0 0 0 40px;
  height: 30px;
  width: 300px;
  outline: none;
}

.right-nav {
  display: flex;
}

.right-nav button {
  margin-left: 15px;
  padding: 8px 12px;
  border-radius: 5px;
}

.right-nav button:nth-child(2) {
  margin-right: 40px;
}

.signup,
.login {
  background-color: white;
  border: 1px solid #09b1ba;
  color: #09b1ba;
}

/* Footer */

footer {
  width: 60%;
  margin: 0 auto;
  border-top: 1px solid #dadada;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

footer ul li {
  margin: 0 10px 10px 0;
  font-size: 0.8rem;
  color: rgb(90, 90, 90);
}

/* hero banner */

.hero-banner img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  position: relative;
}

.hero-card {
  position: absolute;
  padding: 50px 20px;
  width: 350px;
  top: 150px;
  left: 100px;
  background-color: white;
}

.hero-card h1 {
  margin-bottom: 25px;
}

.hero-card button {
  padding: 13px 20px;
  border-radius: 5px;
}

/* offers */

.offers-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 20px auto;
  gap: 15px;
}

.offer-container {
  margin-bottom: 20px;
  cursor: pointer;
}

.user-offer {
  display: flex;
  align-items: center;
  margin: 0 0 10px 10px;
}

.user-offer img {
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  margin-right: 7px;
}

.offer-product-img {
  width: 220px;
  height: 360px;
}

.offer-product-infos {
  display: flex;
  flex-direction: column;
}

.offer-account-username,
.offer-product-size,
.offer-product-brand {
  font-size: 0.7rem;
  font-weight: 300;
}

/* Offer */

main {
  background: rgb(218, 218, 218);
  height: 100vh;
}

.product-page-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.product-page-img {
  margin: 20px 0 0 0;
  width: 400px;
  height: 600px;
  object-fit: cover;
}

.product-page-left-container {
  margin-top: 20px;
  padding: 40px 30px;
  background-color: white;
  width: 400px;
  height: 600px;
}

.product-page-price {
  margin-bottom: 25px;
  font-size: 1.4rem;
}

.product-page-product-infos {
  margin-bottom: 60px;
}

.product-info-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.product-info-key,
.product-info-value {
  font-size: 0.8rem;
}

.product-info-key {
  color: gray;
}

.product-info-value {
  width: 50%;
}

.product-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  margin-right: 10px;
}

.product-page-user {
  display: flex;
  align-items: center;
}

.product-page-name {
  font-weight: 700;
  margin-bottom: 20px;
}

.product-page-description {
  margin-bottom: 20px;
}

.product-page-atc {
  margin-top: 80px;
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  border: 1px solid #09b1ba;
  background-color: #09b1ba;
  color: white;
}

/* signup form */

.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 20px auto;
  border: 1px solid #ebebeb;
  padding: 30px 30px;
}

.signup-form-container h1 {
  margin-bottom: 25px;
  font-size: 1.5rem;
}
.signup-form-container h3 {
  font-size: 1rem;
  color: #808080;
}

.gdpr-container,
.newsletter-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.newsletter-container,
.gdpr-container {
  width: 100%;
  margin-left: 20px;
}

.gdpr-checkbox-input,
.signup-checkbox-input {
  margin-right: 10px;
}

.gdpr-container p {
  color: gray;
}

.login-user-input,
.login-email-input,
.login-password-input,
.signup-user-input,
.signup-email-input,
.signup-password-input {
  border: none;
  border-bottom: 1px solid #ebebeb;
  outline: none;
  margin-bottom: 20px;
  width: 100%;
  border-width: 1px;
  font-size: 1rem;
}
.login-form-container input[type="email"],
.login-form-container input[type="password"],
.signup-form-container input[type="text"],
.signup-form-container input[type="email"],
.signup-form-container input[type="password"] {
  padding-bottom: 10px;
  padding-right: 10px;
}

input[type="checkbox"] {
  -ms-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -o-transform: scale(1.8);
}

.signup-password-input {
  margin-bottom: 15px;
}

.newsletter-intro input {
  margin-right: 10px;
}

.login-submit-input,
.signup-submit-input {
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  border: 1px solid #09b1ba;
  background-color: #09b1ba;
  color: white;
  margin-bottom: 20px;
}

.password-forgotten,
.a-problem,
.already-registered {
  color: #09b1ba;
  cursor: pointer;
}
.already-registered:hover {
  text-decoration: underline;
}

.login-form-container h1 {
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.error-message {
  color: #f03e53;
  margin-bottom: 20px;
}

.password-forgotten {
  margin-bottom: 15px;
}

/* Modal */

.user-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.connexion-modal {
  position: absolute;
  top: 48px;
  right: 10%;
  width: 220px;
  padding: 10px 15px;
  background-color: #f9f9f9;
  z-index: 1000;
}

.connexion-modal li,
.my-account {
  padding: 10px 10px;
}

.connexion-modal ul {
  margin-top: 15px;
}
.connexion-modal ul li {
  width: 100%;
}
.connexion-modal ul li:hover {
  background-color: rgba(202, 202, 202, 0.425);
}

.disconnect-btn {
  color: #f03e53;
}

.signin-signup-container,
.login-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px 20px;
  width: 370px;
  z-index: 9999;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.signin-signup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.signin-signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.close-btn {
  border: none;
  text-align: right;
  padding: 10px !important;
  margin-left: 310px !important;
  border-radius: 1000px !important;
  background-color: #f9f9f9;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.signup-buttons {
  width: 100%;
  margin-bottom: 15px;
}
.signup-buttons button {
  width: 100%;
  margin: 10px 0;
  padding: 10px 14px;
  background-color: white;
  border: 1px solid black;
  font-size: 1rem;
}

.signin-facebook-icon,
.signin-google-icon,
.signin-apple-icon {
  width: 20px;
  margin-right: 5px;
}

.signin-btn {
  display: flex;
  justify-content: center;
}

.signup-or-alrealdy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.registered-already,
.back-to-signup {
  margin: 10px 0 20px 0;
}

.signup-email-link,
.login-with-link,
.signup-email-line {
  cursor: pointer;
  color: #09b1ba;
  margin-left: 7px;
}
.signup-email-link:hover,
.login-with-link:hover,
.signup-email-line:hover {
  text-decoration: underline;
}
