:root {
  --mainBlack: #111111;
  --mainTurquoise: #09b1ba;
  --mainWhite: #ffffff;
  --lightGrey: #999999;
  --lightBlack: #666666;
  --border: #dadada;
  --red: #f03e53;
  --greyBackground: rgb(218, 218, 218);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "MaisonNeueWEB-Book";
}

body {
  position: relative;
  height: 100%;
  min-height: 95vh;
}

main {
  background: var(--greyBackground);
  height: 95vh;
}

/* Footer */

footer {
  /* width: 60%; */
  width: 1280px;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

footer ul li {
  margin: 0 10px 10px 0;
  font-size: 0.8rem;
  color: rgb(90, 90, 90);
}

/* General settings */

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

button,
input[type="submit"],
.discover {
  cursor: pointer;
}

.signup-email-link:hover,
.login-with-link:hover,
.signup-email-line:hover,
.discover:hover,
.offer-product-price:hover,
.offer-product-size:hover,
.offer-product-brand:hover {
  text-decoration: underline;
}

input[type="submit"]:hover,
button:hover,
.checkout-atc:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  cursor: pointer;
}

/* general CTA                 button settings  */

.publish,
.hero-card button {
  border: 1px solid var(--mainTurquoise);
  background-color: var(--mainTurquoise);
  color: var(--mainWhite);
}

/* header */

.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  /* width: 60%; */

  margin: 0 auto;
}

.primary-nav {
  display: flex;
  align-items: center;
  height: 60px;
}

.header-logo {
  width: 80px;
  margin-right: 40px;
  cursor: pointer;
}

.primary-nav,
.secondary-nav {
  max-width: 1280px;
  width: 100%;
  border-bottom: 1px solid var(--border);
}

.secondary-nav ul {
  display: flex;
}

.secondary-nav ul li {
  padding: 10px 15px;
  font-size: 0.8rem;
  color: var(--lightGrey);
}
.secondary-nav ul li:hover {
  background-color: rgba(218, 218, 218, 0.603);
}

/* left nav */

.left-nav {
  display: flex;
  align-items: center;
}

.searchbar {
  border: none;
  border-radius: 2px;
  background: url(./assets/img/magnifying-glass.png) no-repeat 9px 4px #d6d6d642;
  font-size: 1.2rem;
  background-size: 25px;
  padding: 0 0 0 40px;
  height: 30px;
  width: 300px;
  outline: none;
}

/* right nav */

.right-nav {
  display: flex;
}

.right-nav button {
  margin-left: 15px;
  padding: 8px 12px;
  border-radius: 5px;
}

.right-nav button:nth-child(2) {
  margin-right: 40px;
}

.signup,
.login {
  background-color: var(--mainWhite);
  border: 1px solid var(--mainTurquoise);
  color: var(--mainTurquoise);
}

/* hero banner */

.hero-banner img {
  width: 100%;
  max-width: 1280px;
  height: 60vh;
  object-fit: cover;
  position: relative;
}

.hero-card {
  position: absolute;
  padding: 40px 20px;
  width: 350px;
  top: 200px;
  left: 300px;
  background-color: var(--mainWhite);
}

.hero-card h1 {
  font-size: 2.15rem;
  font-weight: bold;
  line-height: 2.65rem;
  width: 75%;
  margin-bottom: 25px;
}

.hero-card button {
  width: 100%;
  font-size: 1rem;
  padding: 13px 20px;
  border-radius: 5px;
}

.discover {
  margin-top: 20px;
  font-size: 0.9rem;
  color: var(--mainTurquoise);
}

/* offers */

.offers-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 60%;
  flex: 4;
  margin: 20px auto;
  gap: 15px;
}

.offer-container {
  margin-bottom: 20px;
  cursor: pointer;
  flex: calc(25% - 15px);
  max-width: 25%;
}

.user-offer {
  display: flex;
  align-items: center;
  margin: 0 0 10px 10px;
}

.user-offer img {
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  margin-right: 7px;
}

.offer-product-img {
  width: 100%;
  height: 360px;
}

.offer-product-infos {
  display: flex;
  flex-direction: column;
}

.offer-product-price {
  font-size: 0.95rem;
  color: var(--mainBlack);
}

.offer-account-username,
.offer-product-size,
.offer-product-brand {
  font-size: 0.7rem;
  color: var(--lightGrey);
}

/* Offer */

.product-page-container {
  display: flex;
  justify-content: space-between;
  /* width: 80%; */
  width: 1280px;
  margin: 0 auto;
}

.product-page-img {
  margin: 20px 0 0 0;
  width: 400px;
  height: 600px;
  object-fit: cover;
}

.product-page-left-container {
  margin-top: 20px;
  padding: 40px 30px;
  background-color: var(--mainWhite);
  width: 400px;
  height: 600px;
}

.product-page-price {
  margin-bottom: 25px;
  font-size: 1.4rem;
}

.product-page-product-infos {
  margin-bottom: 60px;
}

.product-info-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.product-info-key,
.product-info-value {
  font-size: 0.8rem;
}

.product-info-key {
  color: gray;
}

.product-info-value {
  width: 50%;
}

.product-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  margin-right: 10px;
}

.product-page-user {
  display: flex;
  align-items: center;
}

.product-page-name {
  font-weight: 700;
  margin-bottom: 20px;
}

.product-page-description {
  margin-bottom: 20px;
}

.product-page-atc {
  margin-top: 80px;
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  border: 1px solid var(--mainTurquoise);
  background-color: var(--mainTurquoise);
  color: var(--mainWhite);
}

/* signup form */

.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 20px auto;
  border: 1px solid var(--border);
  padding: 30px 30px;
}

.signup-form-container h1 {
  margin-bottom: 25px;
  font-size: 1.5rem;
}
.signup-form-container h3 {
  font-size: 1rem;
  color: #808080;
}

.gdpr-container,
.newsletter-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.newsletter-container,
.gdpr-container {
  width: 100%;
  margin-left: 20px;
}

.gdpr-checkbox-input,
.signup-checkbox-input {
  margin-right: 10px;
}

.gdpr-container p {
  color: var(--lightBlack);
}

.login-user-input,
.login-email-input,
.login-password-input,
.signup-user-input,
.signup-email-input,
.signup-password-input {
  border: none;
  border-bottom: 1px solid var(--border);
  outline: none;
  margin-bottom: 20px;
  width: 100%;
  border-width: 1px;
  font-size: 1rem;
}
.login-form-container input[type="email"],
.login-form-container input[type="password"],
.signup-form-container input[type="text"],
.signup-form-container input[type="email"],
.signup-form-container input[type="password"] {
  padding-bottom: 10px;
  padding-right: 10px;
}

input[type="checkbox"] {
  -ms-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -o-transform: scale(1.8);
}

.signup-password-input {
  margin-bottom: 15px;
}

.newsletter-intro input {
  margin-right: 10px;
}

.login-submit-input,
.signup-submit-input {
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  border: 1px solid var(--mainTurquoise);
  background-color: var(--mainTurquoise);
  color: white;
  margin-bottom: 20px;
}

.password-forgotten,
.a-problem,
.already-registered {
  color: var(--mainTurquoise);
  cursor: pointer;
}
.password-forgotten:hover,
.a-problem:hover,
.already-registered:hover {
  text-decoration: underline;
}

.login-form-container h1 {
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.error-message {
  color: var(--red);
  margin-bottom: 20px;
}

.password-forgotten {
  margin-bottom: 15px;
}

/* Modal */

.user-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logged-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.connexion-modal {
  position: absolute;
  top: 60px;
  right: 28.5%;
  width: 220px;
  padding: 10px 15px;
  background-color: var(--mainWhite);
  box-shadow: 0px 0px 9px -1px #000000;
  z-index: 1000;
}

.connexion-modal li {
  padding: 8px 10px;
}

.my-account {
  padding: 5px 10px;
  font-size: 0.9rem;
  color: var(--lightGrey);
}

.connexion-modal ul {
  margin-top: 15px;
}
.connexion-modal ul li {
  width: 100%;
  font-size: 0.9rem;
  color: #333333;
}
.connexion-modal ul li:hover {
  background-color: rgba(202, 202, 202, 0.425);
}

/* Icons on the header nav right */

.icons-container {
  display: flex;
}

.user-svg,
.bell-svg,
.envelope-svg,
.heart-svg {
  width: 30px;
  size: 30px;
  filter: opacity(25%);
  cursor: pointer;
}

.bell-svg,
.envelope-svg,
.heart-svg {
  margin-right: 20px;
}

.user-svg {
  width: 35px;
  margin: 0 10px 0 15px;
}

.disconnect-btn {
  color: var(--red) !important;
}

.signin-signup-container,
.login-form-container,
.login-form-container-nofix,
.success-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mainWhite);
  padding: 5px 20px;
  width: 370px;
  z-index: 9999;
  border: 1px solid var(--border);
}

.login-form-container,
.login-form-container-nofix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.login-form-container-nofix {
  position: absolute;
  width: 350px;
  height: 350px;
  z-index: 0;
}

.signin-signup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.signin-signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.close-btn,
.close-btn-absolute {
  border: none;
  padding: 10px !important;
  margin-left: 310px !important;
  border-radius: 1000px !important;
  background-color: var(--mainWhite);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.close-btn-absolute {
  position: absolute;
  bottom: 280px;
}

.signup-buttons {
  width: 100%;
  margin-bottom: 15px;
}
.signup-buttons button {
  width: 100%;
  margin: 10px 0;
  padding: 10px 14px;
  background-color: var(--mainWhite);
  border: 1px solid var(--mainBlack);
  font-size: 1rem;
}

.signin-facebook-icon,
.signin-google-icon,
.signin-apple-icon {
  width: 20px;
  margin-right: 5px;
}

.signin-btn {
  display: flex;
  justify-content: center;
}

.signup-or-alrealdy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.registered-already,
.back-to-signup {
  margin: 10px 0 20px 0;
}

.signup-email-link,
.login-with-link,
.signup-email-line {
  cursor: pointer;
  color: var(--mainTurquoise);
  margin-left: 7px;
}

/* Publish */

.publish-container {
  margin: 0 auto;
  background-color: var(--mainWhite);
  width: 60%;
  height: 100%;
}

.publish-container h2 {
  justify-content: flex-start;
  margin: 20px 0;
}

.title-description-container,
.brand-to-city-container {
  margin: 20px 0;
}

.file-select,
.file-select-border,
.title-description-container,
.publish-price-exchange,
.publish-title,
.publish-description,
.publish-brand,
.publish-size,
.publish-color,
.publish-condition,
.publish-city {
  border: 1px solid #f5f5f5;
}

.file-select {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}
.file-select-border {
  margin: 40px;
  padding: 100px;
  width: 700px;
}

.file-select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 1px solid var(--mainTurquoise);
  color: var(--mainTurquoise);
  width: 300px;
  border-radius: 5px;
  margin: 0 auto;
}

.add-file {
  margin-right: 20px;
}

.file-select label {
  font-size: 1.4rem;
  cursor: pointer;
}

.file-select input {
  display: none;
}

.publish-price-exchange {
  width: 100%;
}

.publish-title,
.publish-description,
.publish-brand,
.publish-size,
.publish-color,
.publish-condition,
.publish-city,
.publish-price {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.publish-title input,
.publish-description textarea,
.publish-brand input,
.publish-size input,
.publish-color input,
.publish-condition input,
.publish-city input,
.publish-price input {
  width: 40%;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--border);
}

.publish-exchange {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.publish-exchange span {
  width: 38%;
}
.publish-exchange input {
  margin-right: 15px;
}

.publish-price-exchange {
  margin-bottom: 20px;
}

.btn-publish-submit-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.publish-btn {
  justify-content: flex-end;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 20px;
  width: 200px;
  color: var(--mainTurquoise);
  background-color: var(--mainWhite);
  border: 1px solid var(--mainTurquoise);
}

/* Checkout : Checkoutform */

.payment-container {
  padding-top: 40px;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 25px;
  width: 700px;
  border-radius: 3px;
  background-color: var(--mainWhite);
}

.checkout-container h2 {
  color: var(--lightGrey);
  font-size: 0.9rem;
  margin-bottom: 40px;
}

.checkout-payment-resume {
  color: var(--lightGrey);
  font-size: 1rem;
  margin-bottom: 80px;
}

.checkout-order,
.checkout-protection-buyer-fees,
.checkout-shipping-fees,
.checkout-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.checkout-total {
  margin-bottom: 40px;
}

.checkout-paragraph {
  margin-bottom: 20px;
}

.card-element-wrapper {
  width: 90%;
  margin: 40px auto;
}

.checkout-atc {
  width: 100%;
  padding: 10px 0;
  font-size: 1.2rem;
  background-color: rgb(82, 184, 121);
  color: var(--mainWhite);
  border: none;
  border-radius: 3px;
}

/* Not found */

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-container img {
  margin-top: 20px;
}
.not-found-container h2 {
  margin-bottom: 20px;
}

/* Filter function */

.filter-search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.filter-container {
  margin: 30px 0;
  width: 100%;
}

/* Success container */

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 600px;
  height: 350px;
  z-index: 0;
}

.success-wrapper {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.success-container img {
  width: 75px;
  margin-bottom: 20px;
}

.success-container h2 {
  margin-bottom: 20px;
}
.success-container p {
  color: var(--lightGrey);
  margin-bottom: 40px;
}
.success-container button {
  background-color: var(--mainTurquoise);
  border: none;
  border-radius: 3px;
  color: var(--mainWhite);
  font-size: 1rem;
  height: 45px;
  width: 100%;
}
